body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ff4a8a;
    opacity: 80%;
    background-image: url(bg1.JPG);
    background-size: cover;
}
.box{
    width: 400px;
    height: 500px;
    padding: 40;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(0,0,0,0.3);
    text-align: center;
    opacity: 50%;
    box-shadow: 0 10px 20px rgba(117, 39, 39, 0.3), 0 15px 12px rgba(117, 39, 39, 0.3);
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = text], .box input[type ="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = text],:focus, .box input[type ="password"]{
    width: 280px;
    border-color: #f70056;
}
.box input[type ="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #f70056;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type ="submit"]:hover{
    background: #f70056;

}
.box a{
    text-decoration: none;
    color: #ffffff;
}

